body {
    padding-top: 20px;
    background-image: url(LINE_ALBUM_220402.jpg);
    background-repeat: repeat;
    max-width: 100%;
    height: auto;
    font-family: Meiryo;
    }

h1 {
    font-size: 70;
}

body #container {
    width: 300px;
    padding: 20px;
    display: grid;
    /*grid-template-rows: 100px 100px ;*/
    grid-template-columns: 300px 300px 300px;
}

body #item1 {
    grid-column: 1 / 2;
}

body #item2 {
    grid-column: 2 / 3;
}

body #item3 {
    grid-column: 3 / 4;
}

body #status {
    font-size: 28;
}

body #code {
    font-size: 36;
}

body #research {
    font-size: 36;
}

body #code_list {
    color: #66cdee;
}
body #code_list2 {
    color: #66cdee;
}

body #research_list1 {
    color: #66cdee;
}

body #others_list {
    color: #66cdee;
}

body #others_list2 {
    color: #66cdee;
}

body #c_list1 {
    color: #66cdee;
}
body #c_list2 {
    color: #66cdee;
}

body #r_list1 {
    color: #66cdee;
}

body #o_list1 {
    color: #66cdee;
}

body #o_list2 {
    color: #66cdee;
}
body #o_list3 {
    color: #66cdee;
}
